/.vs/chessMaster/v15/.
/.vs/chessMaster/v15
/.vs/chessMaster
/.vs/chessMaster/.
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/Api/obj/.
/Api/obj
/ChessComClient/bin/.
/ChessComClient/bin
/RedisClient/obj
/RedisClient/obj/.
/RedisClient/bin
/RedisClient/bin/.
/packages
/packages/.
/ChessMaster/obj/.
/ChessMaster/obj
/ChessMaster/bin/.
/ChessMaster/bin
/ChessComClient/obj
/ChessComClient/obj/.
/Api/bin
/Api/bin/.
/obj
/obj/.
/RClient/obj
/RClient/obj/.
/RClient/bin
/RClient/bin/.
/ChessMaster/ChessMaster.csproj.user
