/.vs/chessMaster/v15/.
/.vs/chessMaster/v15
/.vs/chessMaster
/.vs/chessMaster/.
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/Api/obj/.
/Api/obj
/ChessComClient/bin/.
/ChessComClient/bin
/packages
/packages/.
/ChessMaster/obj/.
/ChessMaster/obj
/ChessMaster/bin/.
/ChessMaster/bin
/ChessComClient/obj
/ChessComClient/obj/.
/Api/bin
/Api/bin/.
/obj
/obj/.
/RedisService/obj
/RedisService/obj/.
/RedisService/bin
/RedisService/bin/.
/ChessMaster/ChessMaster.csproj.user
/RedisService/RedisService.csproj.user
